---
layout: master
title: Home
---


    {% for post in paginator.posts %}
    
    <article>
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        
        <p><time>{{ post.date | date_to_string }}</time></p>
        
        {{ post.excerpt }}

    </article>
    {% endfor %}

xxxxx
<div id="paginate"> <!-- if there is next page than leave-->
    {% if paginator.next_page %}
        <a class="older" href="{{ paginator.next_page }}">Older</a>
    {% else %}
        <span class="older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
        <a class="newer" href="{{ paginator.previous_page}}">Newer</a>
    {% else %}
        <span class="newer">Newer</span>
    {% endif %}
</div>
xxxxx
