        <aside>
            
            <div id="sticky">
                
                <header>
                    <h1>Random Noise</h1>
                    <p id="intro">Sed dapibus orci vitae nisi luctus fringilla.</p>
                </header>
                
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Projects</a></li>
                        <li><a href="">About</a></li>
                    </ul>
                </nav>
            <p>&copy;2014. Some rights reserved</p>
            </div>
            
        </aside>